---
- name: Gather disk facts
  community.windows.win_disk_facts:

- name: Debug disk facts
  ansible.builtin.debug:
    var: ansible_facts.disks

- name: Initialize the disk
  community.windows.win_initialize_disk:
    disk_number: "{{ disk_number }}"
    style: "{{ disk_style }}"
  register: init_disk_result

- name: Create a partition on the disk
  community.windows.win_partition:
    disk_number: "{{ disk_number }}"
    partition_size: "{{ partition_size }}"
    drive_letter: "{{ drive_letter }}"
  register: partition_result

- name: Format the partition
  community.windows.win_format:
    drive_letter: "{{ drive_letter }}"
    file_system: "{{ fs_type }}"
    force: true
