---
- name: Gather disk facts
  community.windows.win_disk_facts:

- name: Debug disk facts
  ansible.builtin.debug:
    var: ansible_facts.disks

- name: Get max disk number
  ansible.builtin.set_fact:
    physical_disk_number:
      "{{ ansible_facts.disks
        | map(attribute='number')
        | max
        | trim
        | int }}"

- name: Get partitions
  ansible.builtin.set_fact:
    existing_partitions:
      "{{ ansible_facts.disks
        | map(attribute='partitions', default=[])
        | flatten(2)
        | selectattr('drive_letter', 'defined')
        | map(attribute='drive_letter') | select | unique | sort | list }}"

- name: Get next drive letter
  ansible.builtin.set_fact:
    next_drive_letter: "{{ all_drive_letters | community.general.lists_difference(existing_partitions) | first }}"

- name: Initialize disk
  when: not is_initialized
  block:
    - name: Initialize the disk
      community.windows.win_initialize_disk:
        disk_number: "{{ physical_disk_number }}"
        style: "{{ disk_style }}"

    - name: Create a partition on the disk
      community.windows.win_partition:
        disk_number: "{{ physical_disk_number }}"
        partition_size: "{{ partition_size }}"
        drive_letter: "{{ next_drive_letter }}"

    - name: Format the partition
      community.windows.win_format:
        drive_letter: "{{ next_drive_letter }}"
        file_system: "{{ fs_type }}"
        force: true

    - name: Set fact initialized
      ansible.builtin.set_fact:
        is_initialized: true

- name: Get existing partition number
  ansible.builtin.set_fact:
    existing_partition_number: >-
      {{
        (ansible_facts.disks
         | selectattr('number', 'equalto', physical_disk_number)
         | first).partitions[0].number
      }}
  when: is_initialized
