---
- name: Configure powershell 7
  hosts: "{{ host }}"
  vars:
    host: "{{ provisioned_host | default('aws_ec2') }}"
    sg_id: provisioned_sg_id
  gather_facts: false

  pre_tasks:

    - name: Get host connection details
      delegate_to: localhost
      block:
        - name: Build connection details
          ansible.builtin.include_role:
            name: build_connection_details

  roles:
    - role: configure_windows
