- name: Configure port
  hosts: aws_ec2
  gather_facts: false
  vars:
    sql_server_port: 51967

  pre_tasks:
    - name: Debug 1
      ansible.builtin.debug:
        var: ansible_facts

    - name: Get host connection details
      delegate_to: localhost
      block:
        - name: Build connection details
          ansible.builtin.include_role:
            name: build_connection_details

    - name: Set shell type to pwsh.exe
      ansible.builtin.set_fact:
        ansible_shell_type: powershell

  tasks:
    - name: Stop SQL Server service
      ansible.windows.win_service:
        name: MSSQLSERVER
        state: stopped
      failed_when: false

    - name: Get SQL Server instance name
      ansible.windows.win_shell: |
        $regPath = "HKLM:\SOFTWARE\Microsoft\Microsoft SQL Server"
        Get-ChildItem $regPath |
        Where-Object {$_.PSChildName -like "MSSQL*.*"} |
        Select-Object -ExpandProperty PSChildName
      register: sql_instance

    - name: Debug sql_instance
      ansible.builtin.debug:
        var: sql_instance

    - name: Set registry path variable
      ansible.builtin.set_fact:
        reg_path_to_port: "HKLM:\\SOFTWARE\\Microsoft\\Microsoft SQL Server\\{{ sql_instance }}\\MSSQLServer\\SuperSocketNetLib\\Tcp\\IPAll"

    - name: Debug reg path
      ansible.builtin.debug:
        var: reg_path_to_port

    - name: Change SQL Server port in registry
      ansible.windows.win_regedit:
        path: "HKLM:\\SOFTWARE\\Microsoft\\Microsoft SQL Server\\{{ sql_instance }}\\MSSQLServer\\SuperSocketNetLib\\Tcp\\IPAll"
        name: TcpPort
        data: "{{ sql_server_port }}"
        type: string
        state: present

    - name: Start SQL Server service
      ansible.windows.win_service:
        name: MSSQLSERVER
        state: started
      failed_when: false
