---
- name: Reconfigure ssh to us powershell.exe
  hosts: aws_ec2
  gather_facts: false
  vars:
    ansible_user: Administrator
    ansible_connection: ssh
    ansible_shell_type: cmd
    ansible_ssh_transfer_method: scp
    ansible_shell_executable: cmd
  tasks:
    - name: Set PowerShell as default shell
      ansible.windows.win_regedit:
        path: HKLM:\SOFTWARE\OpenSSH
        name: DefaultShell
        data: C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe
        type: string

    - name: Restart SSH service
      ansible.windows.win_service:
        name: sshd
        state: restarted
