---
- name: Gather disk facts
  community.windows.win_disk_facts:


- name: Find the target disk to prepare
  ansible.builtin.set_fact:
    target_disk: >
      {{ ansible_facts.disks
          | selectattr('number', '!=', 0)
          | selectattr('is_read_only', 'false')
          | selectattr('health_status', '==', 'Healthy')
          | selectattr('partitions', 'undefined')
          | first | default(
              ansible_facts.disks
              | selectattr('number', '!=', 0)
              | selectattr('is_read_only', 'false')
              | selectattr('health_status', '==', 'Healthy')
              | selectattr('partitions', 'defined')
              | first
            )
      }}

- name: Fail if no suitable disk is found
  ansible.builtin.fail:
    msg: "Could not find a suitable healthy, non-system disk to prepare or use."
  when: not target_disk or target_disk.number is not defined

- name: Set existing partitions fact
  ansible.builtin.set_fact:
    existing_partitions: >
      {{ ansible_facts.disks
        | map(attribute='partitions', default=[])
        | flatten
        | selectattr('drive_letter', 'defined')
        | map(attribute='drive_letter')
        | select('ne', None)
        | unique
        | sort
        | list }}

- name: Handle new (unpartitioned) disk
  ansible.builtin.include_tasks: initialize_new_disk.yml
  when: target_disk.partitions is not defined or target_disk.partitions | length == 0

- name: Handle existing (partitioned) disk
  ansible.builtin.include_tasks: discover_existing_disk.yml
  when: target_disk.partitions is defined and target_disk.partitions | length > 0

- name: Force handlers to run before continuing
  ansible.builtin.meta: flush_handlers

- name: Report the final data drive letter
  ansible.builtin.debug:
    msg: "The data drive has been prepared and is available at drive letter: {{ data_drive_letter }}"
  when: data_drive_letter is defined
