---
- name: Wait for SSH port to be open
  ansible.builtin.wait_for:
    host: "{{ ansible_host }}"
    port: 22
    delay: 15
    timeout: 300
  delegate_to: localhost

- name: Wait for user data script to complete
  ansible.windows.win_wait_for:
    path: C:\debug\user_data_result.log
    state: present
    sleep: 15
    timeout: 300
  ignore_errors: true
  register: poll_result

- name: Fail if poll was unsuccessful
  ansible.builtin.fail:
  when: poll_result.elapsed >= 300
