Write-Output "################################################################"
Write-Output "# Backing up databases from the source server                 #"
Write-Output "################################################################"

$ServerInstance = "{{ ansible_host }},51967"
$AN_Database = "{{ AN_Database }}"
$AD_Database = "{{ AD_Database }}"
$SaUserName = "{{ source_SaUserName }}"
$SaPassword = "{{ source_SaPassword }}"
$ADC_NetworkInventory = "{{ VolumeFolder }}"
$VolumeFolder = "{{ VolumeFolder }}"

Write-Output "Detecting SQL server edition"
$ConnectionString = "Server=$ServerInstance;User ID=$SaUserName;Password=$SaPassword;Encrypt=True;TrustServerCertificate=True;Database=master"
$Engine = Invoke-Sqlcmd -ConnectionString $ConnectionString -Query "select serverproperty('EngineEdition') as [Edition]"
Write-Output "SQL server edition: $($Engine.Edition)"

if ($Engine.Edition -ne 4) {
    $CompressionOption = "On"
}
else {
    $CompressionOption = "Default"
}
Write-Output "Compression Option: $CompressionOption"

$SecurePassword = ConvertTo-SecureString $SaPassword -AsPlainText -Force
$Credentials = New-Object System.Management.Automation.PSCredential ($SaUserName, $SecurePassword)

$TempFolder = "C:\Migration"
Remove-Item $TempFolder -Recurse -Force -ErrorAction SilentlyContinue
New-Item -Path $TempFolder -ItemType Directory | Out-Null

function BackupDatabase($Database) {
    Write-Output "Set single user $Database"
    Invoke-Sqlcmd -ConnectionString $ConnectionString -Query "ALTER DATABASE [$Database] SET ONLINE" # Debug
    Start-Process pwsh -ArgumentList "-Command `"Invoke-Sqlcmd -ConnectionString $ConnectionString -Query `"ALTER DATABASE [$Database] SET SINGLE_USER WITH ROLLBACK IMMEDIATE`"" -Wait
    Write-Output "Making backup $Database"
    Backup-SqlDatabase -ServerInstance $ServerInstance -Database $Database -BackupFile "$TempFolder\Database.bak" -Credential $Credentials -CompressionOption $CompressionOption
    Move-Item -Path "$TempFolder\Database.bak" -Destination "$VolumeFolder\$($Database).bak"
    Write-Output "Set offline $Database"
    Invoke-Sqlcmd -ConnectionString $ConnectionString -Query "ALTER DATABASE [$Database] SET OFFLINE WITH ROLLBACK IMMEDIATE"
}

BackupDatabase $AN_Database
{% if not ADC_NetworkInventory %}
BackupDatabase $AD_Database
{% endif %}

Remove-Item $TempFolder -Recurse -Force

Start-Sleep -Seconds 15 # Wait for flush

