################################################################
#                  CONFIGURATION SECTION                       #
################################################################

# --- Product / Registry info ---
$AN_ProductName      = "Alloy Navigator Enterprise"
$AN_RegistryName     = "Alloy Navigator"
$AN_Database         = "{{ AN_Database }}"
$AN_SQLDatabase      = "{{ prefix }}-{{ AN_Database }}"

$AD_Database         = "{{ AD_Database }}"
$AD_SQLDatabase      = "{{ prefix }}-{{ AD_Database }}"

$AD_Access_user      = "{{ prefix }}-{{ AD_Database }}Access"
$AD_User_pass        = "{{ passwords[AD_Database] }}"

$AN_Access_user      = "{{ prefix }}-{{ AN_Database }}Access"
$AN_User_pass        = "{{ passwords[AN_Database] }}"

$ProductIsExpress    = $false
$ADC_NetworkInventory = $false

# --- SQL Server settings ---
$SQLInstanceAddress  = "{{ hostvars[dest]['ansible_host'] }}"
$SQLServerInstance   = "$SQLInstanceAddress,51967"
$SQLSaUserName       = "{{ dest_SaUserName }}"
$SQLSaPassword       = "{{ dest_SaPassword }}"

# --- Misc variables ---
$RegistryName        = "{{ AN_RegistryName }}"
$ProductName         = "{{ AN_ProductName }}"

################################################################
#                      MAIN SCRIPT                             #
################################################################

Write-Output "################################################################"
Write-Output "# Reconfiguring the source server to use the new database     #"
Write-Output "################################################################"

function GenerateAccessKey($AccessKeyID, $SQLInstanceAddress, $ProductName, $ProductVersion, $SQLServerInstance, $Database, $UserName, $Password) {
$AccessKeyName = "$SQLServerInstance : $Database"
$AccessKeyDate = (Get-Date).ToString('yyyyMMdd HH:mm:ss')
$AccessKey = @"
<DATA>
  <ITEM Name="Default Connection" Value="$AccessKeyID"/>`
  <ITEM Name="Creation Date" Value="$AccessKeyDate"/>
  <ITEM Name="Version" Value="$ProductVersion"/>
  <ITEM Name="Product" Value="$ProductName"/>
  <ITEM Name="SQLServer" Value="$SQLServerInstance"/>
  <ITEM Name="Database" Value="$Database"/>
  <ITEM Name="Name" Value="$AccessKeyName"/>
  <ITEM Name="WinAuth" Value="0"/>
  <ITEM Name="Login" Value="$($UserName -replace '"', '&quot;')"/>
  <ITEM Name="Password" Value="$($Password -replace '"', '&quot;')"/>
</DATA>
"@
$AccessKeyName
$AccessKeyDate
$AccessKey
}

function FormatAccessKeyFile($AccessKeyID, $AccessKeyName, $AccessKeyDate, $AccessKey, $ProductName, $ProductVersion, $RegistryName) {
$AccessKeyFile = @"
Windows Registry Editor Version 5.00

[HKEY_LOCAL_MACHINE\SOFTWARE\Alloy Software\Access Keys\$AccessKeyName]
@="$AccessKey"
"Product"="$ProductName"
"Version"="$ProductVersion"
"Creation Date"="$AccessKeyDate"

[HKEY_CURRENT_USER\Software\Alloy Software\$RegistryName\Connections\$AccessKeyID]
"KeyName"="$AccessKeyName"
"@
$AccessKeyFile
}


function MakeAccessKey($ProductName, $RegistryName, $Database, $SQLDatabase, [ref]$AccessKeyNameResult) {

  Write-Output "Getting current $ProductName connection"

  $OldAccessKeyID, $OldAccessKeyName, $ProductVersion = Invoke-Command -ArgumentList($RegistryName)  {
      param($RegistryName)
      $Connection = Get-ChildItem "HKCU:\Software\Alloy Software\$RegistryName\Connections"
      if (($Connection | Measure-Object).Count -ne 1) {
          throw "$ProductName connection can not be detected"
      }

      $Connection.PSChildName
      $Connection.GetValue("KeyName")
      (Get-Item "HKLM:\SOFTWARE\Alloy Software\Access Keys\$($Connection.GetValue("KeyName"))").GetValue("Version")
  }

  if ($ProductName -contains "Navigator") {
    $SQLSaUserName = $AN_Access_user
    $SQLSaPassword = $AN_User_pass
  } else {
    $SQLSaUserName = $AD_Access_user
    $SQLSaPassword = $AD_User_pass
  }

  Write-Output "Generating $ProductName access key"
  $AccessKeyID = "{$([guid]::NewGuid().ToString().ToUpper())}"
  $AccessKeyName, $AccessKeyDate, $AccessKey = GenerateAccessKey `
      $AccessKeyID $SQLInstanceAddress $ProductName $ProductVersion `
      $SQLServerInstance $SQLDatabase $SQLSaUserName $SQLSaPassword

  $AccessKeyNameResult.Value = $AccessKeyName

  Write-Output "Setting new $ProductName connection"
  Invoke-Command -ArgumentList ($AccessKeyID, $OldAccessKeyID, $AccessKeyName, $OldAccessKeyName, $AccessKeyDate, $AccessKey, $ProductName, $ProductVersion, $RegistryName)  {
      param($AccessKeyID, $OldAccessKeyID, $AccessKeyName, $OldAccessKeyName, $AccessKeyDate, $AccessKey, $ProductName, $ProductVersion, $RegistryName)

      $AccessKey64 = [Convert]::ToBase64String([System.Text.Encoding]::UTF8.GetBytes($AccessKey))
      $AccessKeyEncrypted = C:\Install\ScriptHelper EncryptString64 $AccessKey64
      if ($AccessKeyEncrypted -like "*Unknown parameter*") {
          throw "Your ScriptHelper does not support EncryptString64, try upgrade"
      }

      if ($AccessKeyID -ine $OldAccessKeyID) {
          Rename-Item -Path "HKCU:\Software\Alloy Software\$RegistryName\Connections\$OldAccessKeyID" -NewName $AccessKeyID
      }

      Set-ItemProperty -Path "HKCU:\Software\Alloy Software\$RegistryName\Connections\$AccessKeyID" -Name "KeyName" -Value $AccessKeyName
      Set-ItemProperty -Path "HKLM:\SOFTWARE\Alloy Software\$RegistryName\Service Connection" -Name "KeyName" -Value $AccessKeyName

      if ($AccessKeyName -ine $OldAccessKeyName) {
          Rename-Item -Path "HKLM:\SOFTWARE\Alloy Software\Access Keys\$OldAccessKeyName" -NewName $AccessKeyName
      }

      Set-ItemProperty -Path "HKLM:\SOFTWARE\Alloy Software\Access Keys\$AccessKeyName" -Name "(Default)" -Value $AccessKeyEncrypted
      Set-ItemProperty -Path "HKLM:\SOFTWARE\Alloy Software\Access Keys\$AccessKeyName" -Name "Creation Date" -Value $AccessKeyDate
  }

  $AccessKeyEncrypted = Invoke-Command  { $AccessKeyEncrypted }

  Write-Output "Sharing $Database access key"
  $AccessKeyFile = FormatAccessKeyFile `
      $AccessKeyID $AccessKeyName $AccessKeyDate $AccessKeyEncrypted `
      $ProductName $ProductVersion $RegistryName

  Invoke-Command -ArgumentList ($AccessKeyFile, $Database)  {
      param($AccessKeyFile, $Database)
      $AccessKeyFile | Out-File "C:\Install\$($Database)Key.reg" -Encoding Unicode
      Compress-Archive "C:\Install\$($Database)Key.reg" "C:\ProgramData\Alloy Software\Downloads\$($Database)Key.zip" -Force
  }
}

# Run AN Access Key creation
$AN_AccessKeyName = ""
MakeAccessKey $AN_ProductName $AN_RegistryName $AN_Database $AN_SQLDatabase ([ref]$AN_AccessKeyName)

# Run AD Access Key creation if needed
if ((-not $ProductIsExpress) -and (-not $ADC_NetworkInventory)) {
  $AD_AccessKeyName = ""
  MakeAccessKey 'Alloy Discovery' 'Alloy Discovery' $AD_Database $AD_SQLDatabase ([ref]$AD_AccessKeyName)
}

Invoke-Command -ArgumentList ($AN_AccessKeyName, $SQLServerInstance, $AN_SQLDatabase)  {
  param($AN_AccessKeyName, $SQLServerInstance, $AN_SQLDatabase)

  function UpdateWebConfig($InstallPath) {
      $FileName = "$InstallPath\Web.config"
      [xml]$xml = Get-Content -Path $FileName
      ($xml.configuration.appSettings.add | Where-Object { $_.key -eq "KeyName" }).value = $AN_AccessKeyName
      ($xml.configuration.appSettings.add | Where-Object { $_.key -eq "SQLServer" }).value = $SQLServerInstance
      ($xml.configuration.appSettings.add | Where-Object { $_.key -eq "Database" }).value = $AN_SQLDatabase
      $xml.Save($FileName)
  }

  function UpdateAppSettings($InstallPath) {
      $FileName = "$InstallPath\appsettings.json"
      $json = Get-Content -Path $FileName -Raw | ConvertFrom-Json
      $json.Anit."KeyName" = $AN_AccessKeyName
      $json.Anit."SQLServer" = $SQLServerInstance
      $json.Anit."Database" = $AN_SQLDatabase
      $json | ConvertTo-Json -Depth 10 | Set-Content -Path $FileName -Encoding UTF8
  }

  $DefaultsID = @(
      '{E850F970-051E-4B64-82CC-A1BF5324C370}',
      '{1766B1CF-887E-46C7-A9A0-4E204BEBC4F3}',
      '{031C27A5-6012-41B6-9EE0-459CF920A3DF}',
      '{C685B83D-C7C5-48F2-A509-CB4B048E7F1D}',
      '{85FFA55B-C1CE-454C-B111-F83EFAE376FE}',
      '{DD41C119-1E29-4814-9024-AB5B0D3AD00C}')

  Write-Output "Configuring web-portal SSP"
  Get-ChildItem "HKLM:\SOFTWARE\Alloy Software\Web Config" |
      Where-Object { $DefaultsID -notcontains $_.PSChildName } |
      ForEach-Object { UpdateAppSettings $_.GetValue("InstallPath") }

  Write-Output "Configuring web-portal API"
  Get-ChildItem "HKLM:\SOFTWARE\Alloy Software\Web Config API" |
      Where-Object { $DefaultsID -notcontains $_.PSChildName } |
      ForEach-Object { UpdateWebConfig $_.GetValue("InstallPath") }

  Write-Output "Configuring web-portal TP"
  Get-ChildItem "HKLM:\SOFTWARE\Alloy Software\Web Config Tech" |
      Where-Object { $DefaultsID -notcontains $_.PSChildName } |
      ForEach-Object { UpdateWebConfig $_.GetValue("InstallPath") }
}
