################################################################
#                  CONFIGURATION SECTION                       #
################################################################

$AN_SQLDatabase      = "{{ AN_Database }}"
$SQLServerInstance   = "{{ new_hostname }},51967"
$AN_AccessKeyName    = "{{ an_access_key_name }}"

################################################################
#                      MAIN SCRIPT                             #
################################################################


Invoke-Command -ArgumentList ($AN_AccessKeyName, $SQLServerInstance, $AN_SQLDatabase)  {
  param($AN_AccessKeyName, $SQLServerInstance, $AN_SQLDatabase)

  function UpdateWebConfig($InstallPath) {
      $FileName = "$InstallPath\Web.config"
      [xml]$xml = Get-Content -Path $FileName
      ($xml.configuration.appSettings.add | Where-Object { $_.key -eq "KeyName" }).value = $AN_AccessKeyName
      ($xml.configuration.appSettings.add | Where-Object { $_.key -eq "SQLServer" }).value = $SQLServerInstance
      ($xml.configuration.appSettings.add | Where-Object { $_.key -eq "Database" }).value = $AN_SQLDatabase
      $xml.Save($FileName)
  }

  function UpdateAppSettings($InstallPath) {
      $FileName = "$InstallPath\appsettings.json"
      $json = Get-Content -Path $FileName -Raw | ConvertFrom-Json
      $json.Anit."KeyName" = $AN_AccessKeyName
      $json.Anit."SQLServer" = $SQLServerInstance
      $json.Anit."Database" = $AN_SQLDatabase
      $json | ConvertTo-Json -Depth 10 | Set-Content -Path $FileName -Encoding UTF8
  }

  $DefaultsID = @(
      '{E850F970-051E-4B64-82CC-A1BF5324C370}',
      '{1766B1CF-887E-46C7-A9A0-4E204BEBC4F3}',
      '{031C27A5-6012-41B6-9EE0-459CF920A3DF}',
      '{C685B83D-C7C5-48F2-A509-CB4B048E7F1D}',
      '{85FFA55B-C1CE-454C-B111-F83EFAE376FE}',
      '{DD41C119-1E29-4814-9024-AB5B0D3AD00C}')

  Write-Output "Configuring web-portal SSP"
  Get-ChildItem "HKLM:\SOFTWARE\Alloy Software\Web Config" |
      Where-Object { $DefaultsID -notcontains $_.PSChildName } |
      ForEach-Object { UpdateAppSettings $_.GetValue("InstallPath") }

  Write-Output "Configuring web-portal API"
  Get-ChildItem "HKLM:\SOFTWARE\Alloy Software\Web Config API" |
      Where-Object { $DefaultsID -notcontains $_.PSChildName } |
      ForEach-Object { UpdateWebConfig $_.GetValue("InstallPath") }

  Write-Output "Configuring web-portal TP"
  Get-ChildItem "HKLM:\SOFTWARE\Alloy Software\Web Config Tech" |
      Where-Object { $DefaultsID -notcontains $_.PSChildName } |
      ForEach-Object { UpdateWebConfig $_.GetValue("InstallPath") }
}
