param($thumb, $ftpSiteHostname)

Import-Module WebAdministration

$configItem = 'ftpServer.security.ssl.serverCertHash'
Set-ItemProperty "IIS:\Sites\$ftpSiteHostname" -Name $configItem -Value $thumb
& C:\windows\system32\inetsrv\appcmd.exe set config -section:system.applicationHost/sites "/[name='$($ftpSiteHostname)'].ftpServer.security.ssl.serverCertHash:$($thumb)" /commit:apphost
& C:\windows\system32\inetsrv\appcmd.exe set config -section:system.applicationHost/sites "/[name='$($ftpSiteHostname)'].ftpServer.security.ssl.serverCertStoreName:My" /commit:apphost
