#region Database Restore
Write-Output "################################################################"
Write-Output "# Restoring databases to the destination server               #"
Write-Output "################################################################"

$InstanceName = "{{ prefix }}"
$SQLServerInstance = "{{ hostvars[inventory_hostname][private_ip_address] }},51967"
$AN_Database = "{{ AN_Database }}"
$AD_Database = "{{ AD_Database }}"
$AN_SQLDatabase = "$InstanceName-{{ AN_Database }}"
$AD_SQLDatabase = "$InstanceName-{{ AD_Database }}"
$SQLSaUserName = "{{ SaUserName }}"
$SQLSaPassword = "{{ SaPassword }}"
$ADC_NetworkInventory = $false
$VolumeFolder = "D:\Backups"

Write-Output "Initializing Tools for SQL Server"
Import-Module SqlServer
Add-Type -AssemblyName "Microsoft.SqlServer.SmoExtended"

$SecurePassword = ConvertTo-SecureString $SQLSaPassword -AsPlainText -Force
$Credentials = New-Object System.Management.Automation.PSCredential ($SQLSaUserName, $SecurePassword)

function RestoreDatabase($Database, $SQLDatabase) {
    Write-Output "Restoring backup $Database"
    $RelocatedData = New-Object Microsoft.SqlServer.Management.Smo.RelocateFile("$($Database)", "$VolumeFolder\$($SQLDatabase).mdf")
    $RelocatedLog = New-Object Microsoft.SqlServer.Management.Smo.RelocateFile("$($Database)_log", "$VolumeFolder\$($SQLDatabase)_log.ldf")
    try {
        Restore-SqlDatabase -ServerInstance $SQLServerInstance -Database $SQLDatabase -BackupFile "$VolumeFolder\$($Database).bak" -Credential $Credentials -RelocateFile @($RelocatedData, $RelocatedLog)
    }
    catch {
        if ($_ -like "*Access is denied*") {
            throw "Try use LocalSystem for SQL Server to avoid this error - $($_)"
        }
        else {
            throw $_
        }
    }
    Remove-Item "$VolumeFolder\$($Database).bak" -Force
}

RestoreDatabase $AN_Database $AN_SQLDatabase
#if (-not $ADC_NetworkInventory) {
#    RestoreDatabase $AD_Database $AD_SQLDatabase
#}

#endregion